In [20]:
x,y,z="Orange","Red","Blue"
print(x)
print(y)
print(z,type(z))

x = y = z= "black"
print(x)
print(y)
print(z)

Name = ('Akhil',"Unni","Isu")
x,y,z=Name
print(x)
print(y)
print(z)

x="Akhil "
y="love "
z="rose"
print(x,y,z)

x=5
y=7
print(x+y)

x=5
y="akhil"
print(x,y)

Orange
Red
Blue <class 'str'>
black
black
black
Akhil
Unni
Isu
Akhil  love  rose
12
5 akhil